*.class
*.log
*.jar
*.war
*.ear

*~
*.swp
*.bak
*.tmp

**/target/
**/out/

**/target/
.mvn/
!**/src/**/target/

logs/
**/logs/
*.log

.idea/
*.iml
*.ipr
*.iws

.DS_Store
Thumbs.db

**/test-output/
**/surefire-reports/
**/jacoco/

**/.classpath
**/.project
**/.settings/
**/.factorypath

**/application.properties
**/application-dev.properties
**/application.yml
**/application-*.yml
!**/src/main/resources/application.yml

**/.env
**/.docker/
**/.dockerignore

**/node_modules/
**/tmp/
**/bin/
**/dist/
**/build/

.env.local
.env.development.local
.env.test.local
.env.production.local
